@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    background-color:#1A1C1B;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin: 20px;
}

span {
    color: rgba(247, 21, 171);
}

#gameSpace {    
    width: 240px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;    
}

.spacing {
    background-color: #555D58;
    margin: 5px;
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    border-radius: 15%;
}

.spacing:hover{
    box-shadow: 0px 0px 3px 3px rgba(247, 21, 171, 1);
}